<!doctype html>
<title>Loans</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<body onload="addcheck({{addres}});updatecheck({{updres}});delcheck({{delres}});">
<section class="content">
  <header>
    <h1 >贷款管理</h1>
    <script>
      function delconf(orid){
        str="你确定要删除id为"+orid+"的贷款信息吗？";
        conf=window.confirm(str);
        delstr='yesDel'+orid;
        if(conf) document.getElementById(delstr).click();
      }
      function addcheck(res){
        if(res) alert("添加成功！");
        else if(res == 0) alert("添加失败，请重新检查您的输入，是否有留空或重复的ID？");
      }
      function updatecheck(res){
        if(res) alert("修改成功！");
        else if(res == 0) alert("修改失败，请重新检查您的输入。");
      }
      function delcheck(res){
        if(res) alert("删除成功！");
        else if(res == 0) alert("删除失败，请重试。");
      }
    </script>
  </header>
  <a href="{{url_for('mainpage')}}">
    <button>返回首页</button>
</a>
  <form method="post" id="operations"> 
    <div>
      <input id = "SEARCHTEXT" type="text" name = "SearchText" placeholder="留空显示所有贷款"> 
      按：
      <select name="searchtype">
        <option value="name">姓名</option>
        <option value="loans.ID">贷款ID</option>
        <option value="Costumer_ID">ID</option>
        <option value="tel">电话号码</option>
        <option value="bank_name">银行</option>
        <option value="ContactName">联系人姓名</option>
        <option value="ContactTel">联系人电话</option>
        <option value="ContactEmail">联系人邮箱</option>
      </select>
      <input id = "SEARCH" type="submit" name = "SEARCH" autofocus="true" value="搜索贷款" >
      <div id = "addloan" style="display: none;">
        <p>请填写你要添加的贷款的详细信息：</p><br>
        <input id = "ADDID" type="text" pattern="[0-9]{3,}" name = "ADDid" placeholder="ID" >
        <input id = "ADDAMOUNT" type="text" name = "ADDamount" placeholder="贷款总额">
        <p>请填写关联客户的ID：</p><br>
        <input id = "ADDID" type="text" pattern="[0-9]{5,}" name = "ADDCosid" placeholder="客户ID" >
        <select name="bankname">
            <option value="合肥西支行">合肥西支行</option>
            <option value="合肥东支行">合肥东支行</option>
            <option value="上海总部">上海总部</option>
        </select>
        <input id = "ADD" type="submit" name = "ADD" value="添加贷款">
      </div>
    </div>
  </form>
  <div><button id="showinput" class="showinput"  onclick="document.getElementById('addloan').style='background-color: aqua; ';this.style='display: none'">添加贷款</button>
  <div><div style="color: red;float: left;">{{searchtext}}</div> 一共找到{{rows|length}}条记录</div>
  <table>
    <thead>
        <tr>
            <th> 贷款ID</th>
            <th> 贷款总额 </th>
            <th> 姓名 </th>
            <th> 客户ID </th>
            <th> 银行 </th>
            <th> 已发放额 </th>
            <th> 未发放 </th>
            <th> 状态 </th>
            <th> 操作 </th>
        </tr>
    </thead>
    <tbody>
		{% for row in rows %}
		<tr>
			<td> {{ row[0]  }}</td>
			<td> {{ row[1]  }}</td>
            <td> {{ row[2]  }}</td>
			<td> {{ row[3]  }}</td>
            <td> {{ row[4]  }}</td>
            {% if row[6] == None %} 
                <td> 0 </td>
                <td> {{row[1]}}</td>
                <td style="color: red;"> 未发放完 </td>
                <td> <a href="{{url_for('loandetail',id=row[0])}}"><button>详情</button></a></td>
            {% elif row[6] < row[1]%} 
                <td> {{row[6]}} </td>
                <td> {{row[1]-row[6]}}</td>
                <td style="color: red;"> 未发放完 </td>
                <td> <a href="{{url_for('loandetail',id=row[0])}}"><button>详情</button></a></td>
            {% else %}
                <td> {{ row[6]  }}</td>
                <td> 0 </td>
                <td style="color: green;"> 付清 </td>
                <td> <button onclick="delconf({{row[0]}})" >删除</button> / <a href="{{url_for('loandetail',id=row[0])}}"><button>详情</button></a>  </td>
            {% endif%}
    </tr>
    </tbody>
		{% endfor %}
  </table>
</section>
</body>